.activo {
    color: red;
    font-weight: 500;
    font-size: large;
    text-decoration: none;
}

.inactivo {
    color: white;
    font-weight: 400;
    font-size: large;
    text-decoration: none;
}